<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= youtube_video @song.youtube %>
</p>
<p>
  <audio controls>
    <source src="<%= rails_blob_url(@song.song_file) %>" type="<%= @song.song_file.content_type %>"></source>
  </audio>
</p>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
