<!DOCTYPE html>
<html>
  <head>
    <title>Spotitwo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>
  <body class="<%= 'playlistbg' if @dont%>">
    <%= render "layouts/navbar" unless @dont%>
    <div class= "container">
      <%= render 'layouts/alerts'%>
    </div>
    <% if user_signed_in?%>
      <%= render 'layouts/search' unless page_exception() || @dont%>
    <%end%>
    <%= yield %>
  </body>
</html>
